#listSelection{	border-color: #C1C1C1;	border-style:none solid solid;	border-width:medium 1px 1px;	height:300px;	font-size:11px;	text-align:left;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;list-style-type:none;margin:0pt;	overflow:auto;	padding:0pt;	z-index:1;}
#filters {border-bottom:1px solid #C1C1C1;	padding:4px 0pt 0pt;	zoom:1;}
#filters .selections {float:left;list-style-type:none;	margin:0px;	padding:0px;}
#filters .selections li.view_on {background:#FFFFFF url(images/multi_selector_bg.gif) repeat-x scroll center top;}
#filters .selections li {float:left;padding:4px 7px;	text-align:center;width:100px;}
#filters .selections li a{color:#3B5998;text-decoration:none;}
#listSelection li {background-color:#F7F7F7;border:1px solid #D8DFEA;display:block;float:left;list-style-image:none;list-style-type:none;margin:2px;padding:2px;	}
#listSelection .listSelection_item {background-color:#FFFFFF;clear:both;position:relative;height:70px;overflow:hidden;}
#listSelection .itemover {background-color:#F7F7F7 !important;	}
#listSelection .liselected {border:1px solid #149525 !important;background-color:#D7F8AC !important;}
#listSelection .itemselected{	background-color:#D7F8AC !important;background-image: url(../Images/cssImage/checked.png);background-repeat:no-repeat;background-position:right bottom;	color:#300;	}
#listSelection strong {	color:#222222;font-size:11px;	margin-top:2px;	width:65px;}
.clearer {clear:both;height:1px;font-size:1px;}